
.search {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  bottom: 0;
  margin: auto;
}
.search .search_palette_item_wrapper {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  visibility: hidden;
}
.search.search_palette__opened .search_palette_item_wrapper {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.search.search_palette__opened .palette_search {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.search.search_palette__opened .palette_search:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.search.search_palette__opened .palette_search:nth-child(2) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.search.search_palette__opened .palette_search:nth-child(3) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.search .palette_search, .search .palette_search__main {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  border-style: solid;
  border-color: #ffffff;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.search .palette_search__main {
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-size:90% 90%;  
  width: 100px;
  height: 100px;
  -webkit-transition: background .3s;
  transition: background .3s;
  border-width: 6px;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.search .palette_search {
  width: 50px;
  height: 50px;
  background-size:100% 100%;  
  background-repeat: no-repeat;
  display: block;
  -webkit-transform-origin: 270% 50%;
          transform-origin: 270% 50%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border-width: 3px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}
