<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Mobile UI Gallery, a repository of widgets taken from Google Play Store. We aim to make life easier for mobile application developers by providing a database of widgets used by other developers.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
        }
	</script>

    <title><%= title %></title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="stylesheets/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>
</head>

<body>
    <!-- main banner -->
	<div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="/">Mobile UI Gallery</a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/search">Search</a></li>
                                <li><a href="/compare?color=Red+Yellow+Green+Blue+Cyan+Black+White+Lime+Magenta">Compare</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
        <!-- //header -->
    
        <!-- banner -->
        <div class="banner_w3lspvt">

        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->

    <!-- page details -->
	<div class="breadcrumb-mobamu">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </div>
    <!-- //page details -->

    <!-- about -->
	<section class="about py-5" id="about">
        <div class="container py-xl-5 py-lg-3">
            <div class="row py-md-5">
                <div class="col-lg-4 about-left-w3pvt offset-lg-1 mt-lg-4">
                    <div class="main-img">
                        <img src="../images/about/1.jpg" alt="" class="img-fluid pos-aboimg">
                        <img src="../images/about/2.jpg" alt="" class="img-fluid pos-aboimg2">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 about-right offset-xl-1">
                    <h4 class="sub-tittle-w3layouts let">About Us</h4>
                    <h3 class="tittle-w3layouts text-uppercase pr-lg-5 mt-2">Mobile UI Gallery</h3>
                    <p class="mt-4 mb-4">Graphical User Interface (GUI) design is a creative knowledge work. Design sharing is a routine activity through which design knowledge, creativity and aesthetics is exchanged among designers. GUI designs can be shared in the form of reusable design templates or design kits.</p>
                    <p class="mt-4 mb-4">We quantitatively evaluate the quality of GUI components crawled from real applications using reverse-engineering and computer vision techniques, and demonstrate the new ways of design sharing and knowledge discovery our design gallery enables through advanced search, summarization and comparison of real-application GUI designs, beyond the content sharing of GUI design artwork.</p>
                    <p>Through design sharing, the design authors can gain feedback from the community and boost their portfolio. Meanwhile, the repository of the shared GUI designs provides an opportunity to learn about GUI designs, gain design inspiration and understand design trend.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->

    <!-- middle -->
	<div class="middle py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="welcome-left text-center py-md-5 py-3">
                <h3>Enjoy Your Every Moments With Your Ideas In Design Gallery</h3>
                <a href="/search" class="btn button-style button-style mt-sm-5 mt-4">Start Now</a>
            </div>
        </div>
    </div>
    <!-- //middle -->

    <!-- team -->
	<div class="team text-center py-5" id="team">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="tittle text-center text-bl font-weight-bold">Our Team</h3>
            <p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3">Fantastic and Creative Team</p>
            <div class="row team-bottom pt-4">
                <div class="col-lg-3 col-sm-6 team-grid">
                    <img src="../images/about/t1.jpg" class="img-fluid" alt="">
                    <div class="caption">
                        <div class="team-text">
                            <h4>Supervisor: <br>Dr Zhenchang Xing</h4>
                            <p>The Australian National University</p>
                        </div>
                        <ul>
                            <li class="f1">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li class="f2">
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="f3">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 team-grid mt-sm-0 mt-5">
                    <img src="../images/about/t2.jpg" class="img-fluid" alt="">
                    <div class="caption">
                        <div class="team-text">
                            <h4>Supervisor: <br>Dr Chunyang Chen</h4>
                            <p>Monash University<br><br></p>
                        </div>
                        <ul>
                            <li class="f1">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li class="f2">
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="f3">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 team-grid mt-lg-0 mt-5">
                    <img src="../images/about/t3.jpg" class="img-fluid" alt="">
                    <div class="caption">
                        <div class="team-text">
                            <h4>Student: <br>Sidong Feng</h4>
                            <p>The Australian National University</p>
                        </div>
                        <ul>
                            <li class="f1">
                                <a href="https://www.facebook.com/profile.php?id=100006350080957">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li class="f2">
                                <a href="https://twitter.com/loveromance09">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="f3">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 team-grid  mt-lg-0 mt-5">
                    <img src="../images/about/t4.jpg" class="img-fluid" alt="">
                    <div class="caption">
                        <div class="team-text">
                            <h4>Student: <br>Yuyang Wang</h4>
                            <p>The Australian National University</p>
                        </div>
                        <ul>
                            <li class="f1">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li class="f2">
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="f3">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //team -->

    <!-- testimonials -->
	<section class="team-main-sec bg-li py-5" id="testi">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="tittle text-center text-bl font-weight-bold">Our Guests Love Us</h3>
            <p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3">User Experience</p>
            <div class="row text-center">
                <div class="col-lg-4 col-md-6 team-gd-info">
                    <div class="team-gd">
                        <div class="team-img mb-4">
                            <img src="../images/about/te2.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <div class="team-info">
                            <h3>A<span class="sub-tittle-team">New York</span> </h3>
                            <ul class="list-unstyled my-md-4 my-3">
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star-o"></span></li>
                            </ul>
                            <p>Experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 team-gd-info mt-md-0 mt-5">
                    <div class="team-gd">
                        <div class="team-img mb-4">
                            <img src="../images/about/te2.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <div class="team-info">
                            <h3>B <span class="sub-tittle-team">Italy</span></h3>
                            <ul class="list-unstyled my-md-4 my-3">
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star-half-o"></span></li>
                            </ul>
                            <p>Experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-lg-0 mx-md-auto team-gd-info mt-lg-0 mt-5">
                    <div class="team-gd">
                        <div class="team-img mb-4">
                            <img src="../images/about/te2.jpg" class="img-fluid" alt="user-image">
                        </div>
                        <div class="team-info">
                            <h3>C<span class="sub-tittle-team">Germany</span></h3>
                            <ul class="list-unstyled my-md-4 my-3">
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                                <li><span class="fa fa-star"></span></li>
                            </ul>
                            <p>Experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //testimonials -->


    <!-- footer -->
    <footer class="py-5">
        <div class="container pt-xl-4">
            <div class="row footer-top">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="/" class="text-uppercase text-wh">Design Gallery</a>
                    </h2>
                    <!-- Map -->
                    <div class="map-fo">
                        <iframe src=""></iframe>
                    </div>
                    <!-- //Map -->
                </div>
                <div class="col-lg-2 col-md-6 footer-grid_section_1its mt-md-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Links</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="/">Home</a>
                        </li>
                        <li class="mb-3">
                            <a href="/about">About Us</a>
                        </li>
                        <li class="mb-3">
                            <a href="/search">Search</a>
                        </li>
                        <li class="mb-3">
                            <a href="/compare?color=Red+Yellow+Green+Blue+Cyan+Black+White+Lime+Magenta">Compare</a>
                        </li>
                        <li class="mb-3">
                            <a href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contact Info</h3>
                    <div class="contact-info">
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Phone</h4>
                            <p>+1234567890</p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Email </h4>
                            <p><a href="mailto:u6063820@anu.edu.au">u6063820@anu.edu.au</a></p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Location</h4>
                            <p>The Australian National University</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <!-- social icons -->
                    <div class="mobamuinfo_social_icons">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Social Info</h3>
                        <p>The new ways of design sharing and knowledge discovery, enables through advanced search, summarization and comparison of real-application GUI designs, beyond the content sharing of GUI design artwork.</p>
                        <h4 class="sub-con-fo text-li my-4">Catch on Social</h4>
                        <ul class="mobamuits_social_list list-unstyled">
                            <li class="w3_mobamu_facebook">
                                <a href="https://www.facebook.com/profile.php?id=100006350080957">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_twitter">
                                <a href="https://twitter.com/loveromance09">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_dribble">
                                <a href="https://dribbble.com/loveromance09">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- social icons -->
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>Copyright &copy; 2019. Mobile UI Gallery All rights reserved</p>
    </div>
    <!-- //copyright -->

</body>

</html>
