<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Mobile UI Gallery, a repository of widgets taken from Google Play Store. We aim to make life easier for mobile application developers by providing a database of widgets used by other developers.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <title><%= title %></title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="stylesheets/style_compare.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>
</head>
<body>
    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="/">Mobile UI Gallery</a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/search">Search</a></li>
                                <li><a href="/compare?color=Red+Yellow+Green+Blue+Cyan+Black+White+Lime+Magenta">Compare</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
        <!-- //header -->

        <!-- banner -->
        <div class="banner_w3lspvt-2">

        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->

    <!-- page details -->
	<div class="breadcrumb-mobamu">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Compare</li>
        </ol>
    </div>
    <!-- //page details -->

    <div id="sidebar">
        <h3>CART</h3>
        <div class="cart-icon-top">
        </div>
        <div class="cart-icon-bottom">
        </div>
        <div id="cart">
            <span class="empty">No items in cart.</span>       
        </div>
        <button id='compare' class="btn button-style mt-4" onclick='comparing()'>Compare</button>

        <!--
        <h3>CATEGORIES</h3>

        <div class="checklist categories">
            <ul>
                <li><a><span></span>EDUCATION</a></li>
                <li><a><span></span>LIFESTYLE</a></li>
                <li><a><span></span>ENTERTAINMENT</a></li>
                <li><a><span></span>MUSIC_AND_AUDIO</a></li>
                <li><a><span></span>TOOLS</a></li>
                <li><a><span></span>PERSONALIZATION</a></li>
                <li><a><span></span>TRAVEL_AND_LOCAL</a></li>
                <li><a><span></span>NEWS_AND_MAGAZINES</a></li>
                <li><a><span></span>BOOKS_AND_REFERENCE</a></li>
                <li><a><span></span>BUSINESS</a></li>
                <li><a><span></span>FINANCE</a></li>
                <li><a><span></span>GAME_CASUAL</a></li>
                <li><a><span></span>SPORTS</a></li>
                <li><a><span></span>GAME_PUZZLE</a></li>
                <li><a><span></span>PRODUCTIVITY</a></li>
                <li><a><span></span>PHOTOGRAPHY</a></li>
                <li><a><span></span>HEALTH_AND_FITNESS</a></li>
                <li><a><span></span>TRANSPORTATION</a></li>
                <li><a><span></span>SHOPPING</a></li>
                <li><a><span></span>SOCIAL</a></li>
                <li><a><span></span>MEDIA_AND_VIDEO</a></li>
                <li><a><span></span>MEDICAL</a></li>
                <li><a><span></span>LIBRARIES_AND_DEMO</a></li>
                <li><a><span></span>WEATHER</a></li>
                <li><a><span></span>COMICS</a></li>
                <li><a><span></span>MAPS_AND_NAVIGATION</a></li>

                <li><a><span></span>VIDEO_PLAYERS_AND_EDITORS</a></li>
                <li><a><span></span>FOOD_AND_DRINK</a></li>
                <li><a><span></span>DATING</a></li>
                <li><a><span></span>EVENTS</a></li>
                <li><a><span></span>AUTO_AND_VEHICLES</a></li>
                <li><a><span></span>ART_AND_DESIGN</a></li>
                <li><a><span></span>PARENTING</a></li>

                <li><a><span></span>HOUSE_AND_HOME</a></li>
                <li><a><span></span>BEAUTY</a></li>
                <li><a><span></span>GAME_EDUCATIONAL</a></li>
                <li><a><span></span>GAME_ARCADE</a></li>
                <li><a><span></span>GAME_SIMULATION</a></li>
                <li><a><span></span>GAME_ACTION</a></li>

                <li><a><span></span>GAME_CARD</a></li>
                <li><a><span></span>GAME_RACING</a></li>
                <li><a><span></span>GAME_BOARD</a></li>
                <li><a><span></span>GAME_SPORTS</a></li>

                <li><a><span></span>GAME_CASINO</a></li>
                <li><a><span></span>GAME_WORD</a></li>
                <li><a><span></span>GAME_TRIVIA</a></li>
                <li><a><span></span>GAME_ADVENTURE</a></li>

                <li><a><span></span>GAME_STRATEGY</a></li>
                <li><a><span></span>GAME_ROLE_PLAYING</a></li>
                <li><a><span></span>GAME_MUSIC</a></li>
                <li><a><span></span>GAME_ADVENTURE</a></li>
            </ul>
        </div>

    -->
        <h3>COLORS</h3>
        <div class="checklist sizes colors">
            <ul>
                <li><a><span style="background:#222"></span>Black</a></li>
                <li><a href=""><span style="background:#6e8cd5"></span>Blue</a></li>
                <li><a href=""><span style="background:#fef100"></span>Yellow</a></li>
                <li><a href=""><span style="background:#44c28d"></span>Green</a></li>
                <li><a href=""><span style="background:#52f4f8"></span>Cyan</a></li>
                <li><a href=""><span style="background:#f79858"></span>Lime</a></li>
                <li><a href=""><span style="background:#b27ef8"></span>Magenta</a></li>
                <li><a href=""><span style="background:#f56060"></span>Red</a></li>
                <li><a href=""><span style="background:#fff;border: 1px solid #e8e9eb;width:13px;height:13px;"></span>White</a></li>
            </ul>        
        </div>
        <!--
        <h3>SIZES</h3>
        <div class="checklist sizes">
            <ul>
                <li><a href=""><span></span>XS</a></li>
                <li><a href=""><span></span>S</a></li>
                <li><a href=""><span></span>M</a></li>
            </ul>       
        </div>
        -->

        <button id="submit" class="btn button-style mt-4" onclick='filtering()'>Filter Now</button>
    </div>

    <div id="grid">
    </div>


    <!-- footer -->
    <footer class="py-5">
        <div class="container pt-xl-4">
            <div class="row footer-top">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="/" class="text-uppercase text-wh">Design Gallery</a>
                    </h2>
                    <!-- Map -->
                    <div class="map-fo">
                        <iframe src=""></iframe>
                    </div>
                    <!-- //Map -->
                </div>
                <div class="col-lg-2 col-md-6 footer-grid_section_1its mt-md-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Links</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="/">Home</a>
                        </li>
                        <li class="mb-3">
                            <a href="/about">About Us</a>
                        </li>
                        <li class="mb-3">
                            <a href="/search">Search</a>
                        </li>
                        <li class="mb-3">
                            <a href="/compare?color=Red+Yellow+Green+Blue+Cyan+Black+White+Lime+Magenta">Compare</a>
                        </li>
                        <li class="mb-3">
                            <a href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contact Info</h3>
                    <div class="contact-info">
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Phone</h4>
                            <p>+1234567890</p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Email </h4>
                            <p><a href="mailto:u6063820@anu.edu.au">u6063820@anu.edu.au</a></p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Location</h4>
                            <p>The Australian National University</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <!-- social icons -->
                    <div class="mobamuinfo_social_icons">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Social Info</h3>
                        <p>The new ways of design sharing and knowledge discovery, enables through advanced search, summarization and comparison of real-application GUI designs, beyond the content sharing of GUI design artwork.</p>
                        <h4 class="sub-con-fo text-li my-4">Catch on Social</h4>
                        <ul class="mobamuits_social_list list-unstyled">
                            <li class="w3_mobamu_facebook">
                                <a href="https://www.facebook.com/profile.php?id=100006350080957">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_twitter">
                                <a href="https://twitter.com/loveromance09">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_dribble">
                                <a href="https://dribbble.com/loveromance09">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- social icons -->
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>Copyright &copy; 2019. Mobile UI Gallery All rights reserved</p>
    </div>
    <!-- //copyright -->


<script src="javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="javascripts/compare_ready.js"></script>
<script type="text/javascript" src="javascripts/compare.js"></script>

<script>
    function filtering(){
        const colors = ["Red", "Yellow", "Green", "Blue", "Cyan", "Black", "White", "Lime", "Magenta"]
        //var cart_items = document.getElementsByClassName("cart-item");
        var checkeds = document.getElementsByClassName("checked");
        var out = Array();
        for(let i = 0; i < checkeds.length; i++){
            var a = checkeds[i];
            out.push(a.text)
        }
        console.log(out)
        
        if (out.length == 0){
            window.location = "/compare?color=Red+Yellow+Green+Blue+Cyan+Black+White+Lime+Magenta"
        }else{
            window.location = '/compare?color='+out.join('+')
        }
        
    }
</script>
<script>
    function comparing(){
        var text = $('.cart-item span').map(function(){ 
            if ($(this).text() == 'Cheetah Mobile (AppLock & AntiVirus)'){
                return 'applockcheetah'
            }else{
                return $(this).text(); 
            }
        }).get().join('+');
        //console.log(text)
        window.location = '/detail?apps='+text
    }
</script>

<script>
    // detect position change
jQuery.fn.onPositionChanged = function (trigger, millis) {
    if (millis == null) millis = 100;
    var o = $(this[0]); // our jquery object
    if (o.length < 1) return o;

    var lastPos = null;
    var lastOff = null;
    setInterval(function () {
        if (o == null || o.length < 1) return o; // abort if element is non existend eny more
        if (lastPos == null) lastPos = o.position();
        if (lastOff == null) lastOff = o.offset();
        var newPos = o.position();
        var newOff = o.offset();
        if (lastPos.top != newPos.top || lastPos.left != newPos.left) {
            $(this).trigger('onPositionChanged', { lastPos: lastPos, newPos: newPos });
            if (typeof (trigger) == "function") trigger(lastPos, newPos);
            lastPos = o.position();
        }
        if (lastOff.top != newOff.top || lastOff.left != newOff.left) {
            $(this).trigger('onOffsetChanged', { lastOff: lastOff, newOff: newOff});
            if (typeof (trigger) == "function") trigger(lastOff, newOff);
            lastOff= o.offset();
        }
    }, millis);

    return o;
};
</script>
<script>
    $("#submit").onPositionChanged(function(){
        var height = document.getElementById("submit").offsetTop -200;
        var products = document.getElementsByClassName("product");
        var height_pro = products[products.length-1].offsetTop + 250;
        //console.log(height,height_pro)

        if (height_pro>height){
            $("#grid").css("height",height_pro+"px");
            $("#sidebar").css("height",height_pro+"px");
        }else{
            $("#sidebar").css("height",height+"px");
            $("footer").css("margin-top",'300px');
        }

    });
</script>

</body>

</html>
