<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Mobile UI Gallery, a repository of widgets taken from Google Play Store. We aim to make life easier for mobile application developers by providing a database of widgets used by other developers.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
        }
	</script>

    <title><%= title %></title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="stylesheets/style_detail.css"> <!-- Resource style -->
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="stylesheets/css/reset.css"> <!-- CSS reset -->

	<link href="stylesheets/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>
</head>

<body>
    <!-- main banner -->
	<div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="/">Mobile UI Gallery</a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/search">Search</a></li>
                                <li><a href="/compare?color=Red+Yellow+Green+Blue+Cyan+Black+White+Lime+Magenta">Compare</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
        <!-- //header -->
    
        <!-- banner -->
        <div class="banner_w3lspvt-2">

        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->
    
	<div class="test">
	    <section class="cd-products-comparison-table">
		    <!-- page details -->
            <div class="breadcrumb">
                <a href="/compare?color=Red+Yellow+Green+Blue+Cyan+Black+White+Lime+Magenta" class="back">Back</a>
                <a href="#0" class="reset">Reset</a>
                <a href="#0" class="filter">Compare</a>
            </div>
		    <!-- //page details -->
		
			<div class="cd-products-table">
				<div class="features">
					<div class="top-info">Developers</div>
					<ul class="cd-features-list">
						<li class='apps'>Applications</li>
						<li class='category'>Category</li>
						<li class='rating'>Content Rating</li>
					</ul>
				</div> <!-- .features -->
				
				<div class="cd-products-wrapper">
					<ul class="cd-products-columns">
					</ul> <!-- .cd-products-columns -->
				</div> <!-- .cd-products-wrapper -->
				
				<ul class="cd-table-navigation">
					<li><a href="#0" class="prev inactive">Prev</a></li>
					<li><a href="#0" class="next">Next</a></li>
                </ul>
			</div> <!-- .cd-products-table -->
        </section> <!-- .cd-products-comparison-table -->
    </div>

    <!-- footer -->
    <footer class="py-5">
        <div class="container pt-xl-4">
            <div class="row footer-top">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="/" class="text-uppercase text-wh">Design Gallery</a>
                    </h2>
                    <!-- Map -->
                    <div class="map-fo">
                        <iframe src=""></iframe>
                    </div>
                    <!-- //Map -->
                </div>
                <div class="col-lg-2 col-md-6 footer-grid_section_1its mt-md-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Links</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="/">Home</a>
                        </li>
                        <li class="mb-3">
                            <a href="/about">About Us</a>
                        </li>
                        <li class="mb-3">
                            <a href="/search">Search</a>
                        </li>
                        <li class="mb-3">
                            <a href="/compare?color=Red+Yellow+Green+Blue+Cyan+Black+White+Lime+Magenta">Compare</a>
                        </li>
                        <li class="mb-3">
                            <a href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contact Info</h3>
                    <div class="contact-info">
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Phone</h4>
                            <p>+1234567890</p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Email </h4>
                            <p><a href="mailto:u6063820@anu.edu.au">u6063820@anu.edu.au</a></p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Location</h4>
                            <p>The Australian National University</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <!-- social icons -->
                    <div class="mobamuinfo_social_icons">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Social Info</h3>
                        <p>The new ways of design sharing and knowledge discovery, enables through advanced search, summarization and comparison of real-application GUI designs, beyond the content sharing of GUI design artwork.</p>
                        <h4 class="sub-con-fo text-li my-4">Catch on Social</h4>
                        <ul class="mobamuits_social_list list-unstyled">
                            <li class="w3_mobamu_facebook">
                                <a href="https://www.facebook.com/profile.php?id=100006350080957">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_twitter">
                                <a href="https://twitter.com/loveromance09">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_dribble">
                                <a href="https://dribbble.com/loveromance09">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- social icons -->
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>Copyright &copy; 2019. Mobile UI Gallery All rights reserved</p>
    </div>
    <!-- //copyright -->

	<!-- jquery -->
	<script src="javascripts/js/jquery.js"></script>
	<!--jquery-ui.min.js-->
	<script src="javascripts/js/jquery-ui.min.js"></script>
    <script src="javascripts/detail.js"></script> <!-- Resource jQuery -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script>
        $(window).on('load', function() {
            fixHeight()
        });
    </script>
    <script>
        function fixHeight(){
            const _btns = ["Button", "CheckBox", "Chronometer", "ImageButton", "ProgressBar", "RadioButton", "RatingBar", "SeekBar", "Spinner", "Switch", "ToggleButton"];
            for(let i = 0; i < _btns.length; i++){
                var class_name = _btns[i];
                var max = 0;
                if (class_name == 'Button'){
                    $('li.button1').each(function(){
                        if ($(this).height()>max){
                            max = $(this).height();
                        }
                    });
                    $('.button1').height(max+150);
                }else{
                    $('li.'+class_name.toLowerCase()).each(function(){
                        if ($(this).height()>max){
                            max = $(this).height();
                        }
                    });
                    $('.'+class_name.toLowerCase()).height(max+150);
                }

            }
            // var button_heights = [];
            // $('li.button1').each(function(){
            //     button_heights.push($(this).height())
            // });
            // var button_height = button_heights.sort(function(a, b) { return a - b })[button_heights.length-1];
            // $('.button1').height(button_height)

        }
    </script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</body>

</html>
