<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Mobile UI Gallery. This is the screenshot page showing widgets that are taken from the same screenshot.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <title><%= title %></title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="stylesheets/style_gallery.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- range css-->
    <link rel="stylesheet" href="stylesheets/css/jquery-ui.min.css" />
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
    <!-- animate.css -->
    <link rel="stylesheet" href="stylesheets/animate/animate.css" />
    <link rel="stylesheet" href="stylesheets/animate/set.css" />
    <!-- gallery -->
    <link rel="stylesheet" href="stylesheets/css/blueimp-gallery.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>


</head>
<body>
    <!-- main banner -->
	<div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="/">Mobile UI Gallery</a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/gallery">Gallery</a></li>
                                <li><a href="/search">Services</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
        <!-- //header -->
        <!-- banner -->
        <div class="banner_w3lspvt-1">

        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->

    <!-- works -->
    <div id="works" class=" clearfix grid fig"> 
        <figure class="effect-oscar wowload fadeIn">
            <img src="../images/gallery/1.jpg" alt="img01"/>
            <figcaption >
                <h2>EDUCATION</h2>
                <p><br>
                    <a href="../images/gallery/101.png" title="1" data-gallery="#blueimp-gallery-education" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/102.png" title="1" data-gallery="#blueimp-gallery-education" class="hide"></a>
                    <a href="../images/gallery/103.png" title="1" data-gallery="#blueimp-gallery-education" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/2.jpg" alt="img01"/>
            <figcaption>
                <h2>LIFESTYLE</h2>
                <p><br>
                    <a href="../images/gallery/104.png" title="1" data-gallery="#blueimp-gallery-life" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/105.png" title="1" data-gallery="#blueimp-gallery-life" class="hide"></a>
                    <a href="../images/gallery/106.png" title="1" data-gallery="#blueimp-gallery-life" class="hide"></a>
                </p>           
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/3.jpg" alt="img01"/>
            <figcaption>
                <h2>ENTERTAINMENT</h2>
                <p><br>
                    <a href="../images/gallery/107.png" title="1" data-gallery="#blueimp-gallery-enter" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/108.png" title="1" data-gallery="#blueimp-gallery-enter" class="hide"></a>
                    <a href="../images/gallery/109.png" title="1" data-gallery="#blueimp-gallery-enter" class="hide"></a>
                </p>           
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/4.jpg" alt="img01"/>
            <figcaption>
                <h2>MUSIC AND AUDIO</h2>
                <p><br>
                    <a href="../images/gallery/110.png" title="1" data-gallery="#blueimp-gallery-music" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/111.png" title="1" data-gallery="#blueimp-gallery-music" class="hide"></a>
                    <a href="../images/gallery/112.png" title="1" data-gallery="#blueimp-gallery-music" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/5.jpg" alt="img01"/>
            <figcaption>
                <h2>TOOLS</h2>
                <p><br>
                    <a href="../images/gallery/113.png" title="1" data-gallery="#blueimp-gallery-tools" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/114.png" title="1" data-gallery="#blueimp-gallery-tools" class="hide"></a>
                    <a href="../images/gallery/115.png" title="1" data-gallery="#blueimp-gallery-tools" class="hide"></a>
                </p>            
            </figcaption>
        </figure>  
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/6.jpg" alt="img01"/>
            <figcaption>
                <h2>PERSONALIZATION</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-person" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-person" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-person" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/7.jpg" alt="img01"/>
            <figcaption>
                <h2>TRAVEL AND LOCAL</h2>
                <p><br>
                    <a href="../images/gallery/119.png" title="1" data-gallery="#blueimp-gallery-travel" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/120.png" title="1" data-gallery="#blueimp-gallery-travel" class="hide"></a>
                    <a href="../images/gallery/121.png" title="1" data-gallery="#blueimp-gallery-travel" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/8.jpg" alt="img01"/>
            <figcaption>
                <h2>NEWS AND MAGAZINES</h2>
                <p><br>
                    <a href="../images/gallery/122.png" title="1" data-gallery="#blueimp-gallery-news" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/123.png" title="1" data-gallery="#blueimp-gallery-news" class="hide"></a>
                    <a href="../images/gallery/124.png" title="1" data-gallery="#blueimp-gallery-news" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/9.jpg" alt="img01"/>
            <figcaption>
                <h2>BOOKS AND REFERENCE</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-books" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-books" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-books" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/10.jpg" alt="img01"/>
            <figcaption>
                <h2>BUSINESS</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-business" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-business" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-business" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/11.jpg" alt="img01"/>
            <figcaption>
                <h2>FINANCE</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-finance" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-finance" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-finance" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/12.jpg" alt="img01"/>
            <figcaption>
                <h2>GAME</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-game" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-game" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-game" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/13.jpg" alt="img01"/>
            <figcaption>
                <h2>SPORTS</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-sports" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-sports" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-sports" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/14.jpg" alt="img01"/>
            <figcaption>
                <h2>PRODUCTIVITY</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-product" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-product" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-product" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/15.jpg" alt="img01"/>
            <figcaption>
                <h2>PHOTOGRAPHY</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-photo" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-photo" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-photo" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/16.jpg" alt="img01"/>
            <figcaption>
                <h2>HEALTH AND FITNESS</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-health" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-health" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-health" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/17.jpg" alt="img01"/>
            <figcaption>
                <h2>TRANSPORTATION</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-trans" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-trans" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-trans" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/18.jpg" alt="img01"/>
            <figcaption>
                <h2>COMMUNICATION</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comm" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comm" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comm" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/19.jpg" alt="img01"/>
            <figcaption>
                <h2>SOCIAL</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-social" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-social" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-social" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/20.jpg" alt="img01"/>
            <figcaption>
                <h2>MEDIA AND VIDEO</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-media" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-media" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-media" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/21.jpg" alt="img01"/>
            <figcaption>
                <h2>SHOPPING</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-shopping" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-shopping" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-shopping" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/22.jpg" alt="img01"/>
            <figcaption>
                <h2>MEDICAL</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-medical" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-medical" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-medical" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/23.jpg" alt="img01"/>
            <figcaption>
                <h2>WEATHER</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-weather" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-weather" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-weather" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/24.jpg" alt="img01"/>
            <figcaption>
                <h2>LIBRARIES AND DEMO</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-lib" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-lib" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-lib" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/25.jpg" alt="img01"/>
            <figcaption>
                <h2>COMICS</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/26.jpg" alt="img01"/>
            <figcaption>
                <h2>MAPS AND NAVIGATION</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/27.jpg" alt="img01"/>
            <figcaption>
                <h2>VIDEO PLAYERS AND EDITORS</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/28.jpg" alt="img01"/>
            <figcaption>
                <h2>GAME CARD</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/29.jpg" alt="img01"/>
            <figcaption>
                <h2>FOOD AND DRINK</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/30.jpg" alt="img01"/>
            <figcaption>
                <h2>DATING</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/31.jpg" alt="img01"/>
            <figcaption>
                <h2>EVENTS</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/32.jpg" alt="img01"/>
            <figcaption>
                <h2>AUTO AND VEHICLES</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/33.jpg" alt="img01"/>
            <figcaption>
                <h2>ART AND DESIGN</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/34.jpg" alt="img01"/>
            <figcaption>
                <h2>PARENTING</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/35.jpg" alt="img01"/>
            <figcaption>
                <h2>HOUSE AND HOME</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
        <figure class="effect-oscar  wowload fadeInUp">
            <img src="../images/gallery/36.jpg" alt="img01"/>
            <figcaption>
                <h2>BEAUTY</h2>
                <p><br>
                    <a href="../images/gallery/116.png" title="1" data-gallery="#blueimp-gallery-comics" class="gallery"> VIEW MORE</a>
                    <a href="../images/gallery/117.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                    <a href="../images/gallery/118.png" title="1" data-gallery="#blueimp-gallery-comics" class="hide"></a>
                </p>            
            </figcaption>
        </figure>
    </div>
    <!-- works -->
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div class="blue-gallery">
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title">Title</h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->    
        </div>
    </div>

    

    <!-- footer -->
    <footer class="py-5">
        <div class="container pt-xl-4">
            <div class="row footer-top">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="/" class="text-uppercase text-wh">Design Gallery</a>
                    </h2>
                    <!-- Map -->
                    <div class="map-fo">
                        <iframe src=""></iframe>
                    </div>
                    <!-- //Map -->
                </div>
                <div class="col-lg-2 col-md-6 footer-grid_section_1its mt-md-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Links</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="/">Home</a>
                        </li>
                        <li class="mb-3">
                            <a href="/about">About Us</a>
                        </li>
                        <li class="mb-3">
                            <a href="/search">Search</a>
                        </li>
                        <li class="mb-3">
                            <a href="/compare">Compare</a>
                        </li>
                        <li class="mb-3">
                            <a href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contact Info</h3>
                    <div class="contact-info">
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Phone</h4>
                            <p>+1234567890</p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Email </h4>
                            <p><a href="mailto:u6063820@anu.edu.au">u6063820@anu.edu.au</a></p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">Location</h4>
                            <p>The Australian National University</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <!-- social icons -->
                    <div class="mobamuinfo_social_icons">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Social Info</h3>
                        <p>We aim to build mobile ui gallery to help designers to bring some inspirations</p>
                        <h4 class="sub-con-fo text-li my-4">Catch on Social</h4>
                        <ul class="mobamuits_social_list list-unstyled">
                            <li class="w3_mobamu_facebook">
                                <a href="https://www.facebook.com/profile.php?id=100006350080957">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_twitter">
                                <a href="https://twitter.com/loveromance09">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_dribble">
                                <a href="#">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_google">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- social icons -->
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>Copyright &copy; 2019. Mobile UI Gallery All rights reserved</p>
    </div>
    <!-- //copyright -->



    <!-- jquery -->
    <script src="javascripts/js/jquery.js"></script>

    <!-- boostrap -->
    <script src="javascripts/js/bootstrap.js" type="text/javascript" ></script>

    <!-- gallery -->
    <script src="javascripts/js/jquery.blueimp-gallery.min.js"></script>


</body>
</html>