<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobile UI Gallery, a repository of widgets taken from Google Play Store.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/category_palette.css" rel="stylesheet">
    <link href="stylesheets/color_palette.css" rel="stylesheet">
    <link href="stylesheets/widget_palette.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>
    <!-- Custom js -->
    <script src="/javascripts/home.js"></script>
    
</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Mobile UI Gallery</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search?btnType=RadioButton&color=All&category=All&sortType=appDownloads&text=&width=0%3B800&height=0%3B1280&page=1">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/compare?btnType=Button&color=All&category=All&DeveloperOneName=AI_Factory_Limited&DeveloperTwoName=GIOSIS_PTE._LTD.&sortType=appDownloads&text=&width=0%3B800&height=0%3B1280&page=1">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div> 
        </nav>
    </header>

    <!-- Page content -->
    <main role="main">
        <!-- Color Palette -->
        <div class="color">
            <div class="color_palette_item_wrapper">
                <div data-color="#All" class="palette_color"></div>
                <div data-color="#FF3030" class="palette_color"></div>
                <div data-color="#FF9224" class="palette_color"></div>
                <div data-color="#FFFF6F" class="palette_color"></div>
                <div data-color="#53FF53" class="palette_color"></div>
                <div data-color="#0080FF" class="palette_color"></div>
                <div data-color="#BE77FF" class="palette_color"></div>
                <div data-color="#FFFFFF" class="palette_color"></div>
                <div data-color="#00000F" class="palette_color"></div>
            </div>
            <div class="palette_color__main"></div> 
        </div>

        <!-- Widgets Palette -->
        <div class="widget">
            <div class="widget_palette_item_wrapper">
                <div data-widget="All" class="palette_widget"></div>
                <div data-widget="CompoundButton" class="palette_widget"></div>
                <div data-widget="Chronometer" class="palette_widget"></div>
                <div data-widget="ProgressBar" class="palette_widget"></div>
                <div data-widget="CheckBox" class="palette_widget"></div>
                <div data-widget="Button" class="palette_widget"></div>
                <div data-widget="RadioButton" class="palette_widget"></div>
                <div data-widget="RatingBar" class="palette_widget"></div>
                <div data-widget="SeekBar" class="palette_widget"></div>
                <div data-widget="Spinner" class="palette_widget"></div>
                <div data-widget="Switch" class="palette_widget"></div>
                <div data-widget="ToggleButton" class="palette_widget"></div>
                <div data-widget="ImageButton" class="palette_widget"></div>
            </div>
            <div class="palette_widget__main"></div> 
        </div>

        <!-- Category Palette -->
        <div class="category">
            <div class="category_palette_item_wrapper">
                <div data-category="ALL" class="palette_category"></div>
                <div data-category="EDUCATION" class="palette_category"></div>
                <div data-category="LIFESTYLE" class="palette_category"></div>
                <div data-category="ENTERTAINMENT" class="palette_category"></div>
                <div data-category="MUSIC_AND_AUDIO" class="palette_category"></div>
                <div data-category="TOOLS" class="palette_category"></div>
                <div data-category="PERSONALIZATION" class="palette_category"></div>
                <div data-category="FINANCE" class="palette_category"></div>
                <div data-category="FOOD_AND_DRINK" class="palette_category"></div>
                <div data-category="MORE" class="palette_category"></div>
            </div>
            <div class="palette_category__main"></div> 
        </div>
        
        <button class="btn btn-primary" onclick="GoSearch()">Submit</button>


        <a href="/detail">
            <button class="btn btn-primary">To Test</button>
        </a>
    </main>

    <!-- Footer -->
    <footer class="py-3 bg-dark footer">
        <div class="container">
            <div class="text-center text-white">Copyright &copy; Mobile UI Gallery 2018</div>
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- Palette JS !!!!!!!-->
<script type="text/javascript" src="/javascripts/color_palette.js"></script>
<script type="text/javascript" src="/javascripts/category_palette.js"></script>
<script type="text/javascript" src="/javascripts/widget_palette.js"></script>

</body>
</html>
