<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobile UI Gallery, a repository of widgets taken from Google Play Store.">
    <meta name="keywords"
          content="mobile, mobile ui, mobile widgets, widget, widgets, mobile application, android, android widget, android widgets, android ui, ui">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/palette.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117332758-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-117332758-2');
    </script>
    <!-- Custom js -->
    <script src="/javascripts/home.js"></script>
    
</head>

<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Mobile UI Gallery</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="#navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search?btnType=RadioButton&color=All&category=All&sortType=appDownloads&text=&width=0%3B800&height=0%3B1280&page=1">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/compare?btnType=Button&color=All&category=All&DeveloperOneName=AI_Factory_Limited&DeveloperTwoName=GIOSIS_PTE._LTD.&sortType=appDownloads&text=&width=0%3B800&height=0%3B1280&page=1">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div> 
        </nav>
    </header>

    <!-- Page content -->
    <main role="main">
        <!-- Search Engine -->
        <center>
            <h1>Search</h1>
        </center>
        <table align="center" cellspacing="0" cellpadding="10" border="0" >
            <tr>
                <td style="position: relative;">
                    <input id="search" type="text" placeholder="Search for widgets">
                    <button class="btn btn-primary" onclick="GoSearch()">Submit</button>
                    <div id="search_list"></div>
                </td>
            </tr>
        </table>

        <!-- Color Palette -->
        <div class="wrapper">
            <div class="palette">
                <div class="palette_item_wrapper">
                    <div data-color="#All" class="palette_color"></div>
                    <div data-color="#FF3030" class="palette_color"></div>
                    <div data-color="#FF9224" class="palette_color"></div>
                    <div data-color="#FFFF6F" class="palette_color"></div>
                    <div data-color="#53FF53" class="palette_color"></div>
                    <div data-color="#0080FF" class="palette_color"></div>
                    <div data-color="#BE77FF" class="palette_color"></div>
                    <div data-color="#FFFFFF" class="palette_color"></div>
                    <div data-color="#000000" class="palette_color"></div>
                    <!--
                    <div data-color="#83091d" class="palette_color"></div>
                    -->
                </div>
                <div class="palette_color__main"></div>  
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="py-3 bg-dark footer">
        <div class="container">
            <div class="text-center text-white">Copyright &copy; Mobile UI Gallery 2018</div>
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- Color Palette JS !!!!!!!-->
<script type="text/javascript" src="/javascripts/palette.js"></script>

<!-- Search Engine JS !!!!!!!-->
<script type="text/javascript">	
    $(function() {
        $('#search').keyup(function() {
            var n=$(this).val();
            if (n=='') { $('#search_list').hide(); return };
            var input_list = n.split(" ");

            const classnames = new Array("chronometer", "compoundbutton","progressbar", "checkbox", "button",
                                  "radiobutton",  "ratingbar", "seekbar", "spinner", "switch", "togglebutton","imagebutton");
            const colors = new Array("black","white","red","lime","yellow","green","cyan","blue","magenta");
            
            var classdic =  {},
                colordic = {};
            // initialize
            for (var i=0;i<classnames.length;i++){
                classname = classnames[i];
                classdic[classname] = 0;
            }
            for (var i=0;i<colors.length;i++){
                color = colors[i];
                colordic[color] = 0;
            }

            var val;
            for (var i=0;i<input_list.length;i++){
                input = input_list[i].toLowerCase();
                for (var j=0;j<classnames.length;j++){
                    classname = classnames[j];
                    val = 0;
                    if (classname.indexOf(input)>=0){
                        val = 0.45;
                    }
                    val += strSimilarity2Percent(input,classname)*0.55;
                    if (classdic[classname] < val){
                        classdic[classname] = val
                    }
                }
                for (var j=0;j<colors.length;j++){
                    color = colors[j];
                    val = 0;
                    if (color.indexOf(input)>=0){
                        val = 0.45;
                    }
                    val += strSimilarity2Percent(input,color)*0.55;
                    if (colordic[color] < val){
                        colordic[color] = val
                    }
                }
            }
            var sorted_class = Object.keys(classdic).sort(function(a,b){ return classdic[a]-classdic[b]; }),
                sorted_color = Object.keys(colordic).sort(function(a,b){ return colordic[a]-colordic[b]; });

            let search_color = new Set();
            let search_class = new Set();
            for(var key in sorted_class){
                if (classdic[sorted_class[key]]>0.6){
                    search_class.add(sorted_class[key]);
                }
            }
            for(var key in sorted_class){
                if (colordic[sorted_color[key]]>0.6){
                    search_color.add(sorted_color[key]);
                }
            }

            //console.log(search_color);
            //console.log(search_class);
            
            if(search_color.size!=0 || search_class.size!=0){
                $("#search_list").empty().show();
                var str = "";
                var list = Array();
                var suggest_list = combine(search_color, search_class);
                //console.log(suggest_list)
                for (var i=0;i<suggest_list.length;i++){
                    suggestion = suggest_list[i];
                    str += '<div class="click_work">'+ suggestion+'</div>'
                }
                $("#search_list").append(str);
            }else{
                $("#search_list").empty().show();
            }
            
        });
        //点击搜索数据复制给搜索框
		$(document).on('click','.click_work',function(){
            var word = $(this).text();
			$('#search').val(word);
			$('#search_list').hide();
			// $('#texe').trigger('click');触发搜索事件
		})
    });
</script>

</body>
</html>
