<!DOCTYPE html>
<html>
<head>
    <title>Feed and Share Dialog</title>
    <script type="text/javascript" language="javascript">
 
        //Not Jquery !!! just a helper function to return an object
        function $(i_obj) {
            return document.getElementById(i_obj);
        }

        // this loads the Facebook API
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
 

        window.fbAsyncInit = function () {
            var appId = '395341394433384';
            FB.init({
                appId: appId,
                xfbml: true,
                version: 'v2.9'
            });
        };



 
 
        function fbLogin() {
            FB.login(function (response) {
                if (response.status == "connected") {
                    //User has logged in, hide the login button and show the launch button
 
                    $("btnlogin").className = "Hide";
                    $("btnlauncher").className = "Show";
 
                } else {
                    // user has not yet logged in, hide launcher button and display login button
 
                    $("btnlogin").className = "Show";
                    $("btnlauncher").className = "Hide";
                }
            });
        }
 
        //Function displays the Feed Dialog
        function LaunchFeedDialog() {
         
            event.preventDefault();
            event.stopImmediatePropagation();

                // Dynamically gather and set the FB share data. 
                var FBDesc      = 'Your custom description';
                var FBTitle     = 'Your custom title';
                var FBLink      = 'http://baidu.com';
                var FBPic       = 'http://fbrell.com/f8.jpg';

                // Open FB share popup
                FB.ui({
                    method: 'share_open_graph',
                    action_type: 'og.likes',
                    action_properties: JSON.stringify({
                        object: {
                            'og:url': FBLink,
                            'og:title': FBTitle,
                            'og:description': FBDesc,
                            'og:image': FBPic,
                            'og:display': 'popup',
                        }
                    })
                },
                function (response) {
                // Action after response
                })
        }
 
        function callback(response) {
            //Do anything you want here :)
            //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
            //alert(response['post_id']); Some diagnostics lol :)
        }
 
        // Load the SDK Asynchronously. This is a very important part. It loads the Facebook javascript SDK automatically.
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        } (document));
    </script>
 
    <!--Styles -->
    <style type="text/css">
        /*Hides a element*/
        .Hide
        {
            display: none;
        }
         
        /*Shows an element*/
        .Show
        {
            display: block;
        }
    </style>
</head>
<body>
    <!--User can click on this button and the fbLogin method is invoked which prompts for facebook login-->
    <input id="btnlogin" type="button" onclick="fbLogin()" value="Login with Facebook" />
     
    <!--After user logs in using facebook credentials, make this button visible. Not until.-->
    <input id="btnlauncher" type="button" onclick="LaunchFeedDialog();" value="Launch Feed Dialog"
        class="Hide" />
</body>
</html>