<!DOCTYPE html>
<html>
 
	<head>
		<meta charset="UTF-8">
		<title></title>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<style type="text/css">
			thead th{width: 100px;text-align: center;}
		</style>
	</head>

	<body>
		<label>姓名：</label><input type="text" id="username" />
		<label>备注：</label><input type="text" id="content" />
		<input type="button" id="send" value="点击" />
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>姓名</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody id="tb">
				
			</tbody>
		</table>
	</body>
	<script src="/javascripts/test.js"></script>
	<script type="text/javascript">
	
		$(function() {
			$('#username').keyup(function() {
				var n=$(this).val();
				var input_list = n.split(" ");

				const classnames = new Array("Chronometer", "CompoundButton","ProgressBar", "CheckBox", "Button",
									  "RadioButton",  "RatingBar", "SeekBar", "Spinner", "Switch", "ToggleButton","ImageButton");
				const colors = new Array("Black","White","Red","Lime","Yellow","Green","Cyan","Blue","Magenta");

				let search_class = new Set();
				let search_color = new Set();
				for (var i=0;i<input_list.length;i++){
					input = input_list[i]
					for (var j=0;j<classnames.length;j++){
						classname = classnames[j]
						value = strSimilarity2Percent(input,classname)
						if (value >= 0.5){
							search_class.add(classname)
						}
					}
					for (var j=0;j<colors.length;j++){
						color = colors[j]
						value = strSimilarity2Percent(input,color)
						if (value >= 0.45){
							search_color.add(color)
						}
					}
				}
				if (search_class.size == 0){
					search_class.add("All")
				}
				if (search_color.size == 0){
					search_color.add("All")
				}
				
				console.log(search_color)
				console.log(search_class)
				//console.log("Red" in colors)
				
				if(n!=''){
					$.ajax({
						type: "GET",
						url: "data/widgets.json",
						//url: "data/text.json",
						//data:{"name":n},
						data:{"type":search_class,
								"color":search_color},
						dataType: "json",
						error : function() {
        					alert('json error');
					    },
						success: function(data) {
							$("#tb").empty();
			                var str = "";
							
			                $.each(data,function(commendIndex,comment){
								for (let classname of search_class){
									for (let color of search_color){
										if (comment['type']==classname && comment['majority'].indexOf(color) >= 0){
											str +='<tr><th>'+comment['name']+'</th><th>'+comment["Developer"]+'</th><th>'+comment['package_name']+'</th></tr>';
										}
									}
									
								}
								/* 检索出来下拉
								if (comment['type'].indexOf("Button")>=0){
			                	//if(comment['username'].indexOf(n)>=0){
									//str +='<tr><th>'+comment['ID']+'</th><th>'+comment['username']+'</th><th>'+comment['content']+'</th></tr>';
									str +='<tr><th>'+comment['type']+'</th><th>'+comment['color']+'</th><th>'+comment['package_name']+'</th></tr>';
								}
								*/
								
			                });
			                $("#tb").append(str);
						}
					});	
				}else{
					$("#tb").empty()
				}
			});
		});
	</script>
 
</html>
